@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Ubuntu", sans-serif;
}

body {
	background-color: #191919;
}

.app {
	min-height: 100vh;
}

.app-bank {
	color: #c84b31;
}

#nprogress .bar {
	background: #c84b31 !important;
}
